<div class="container">
  <div class="d-flex justify-content-between">
    <div>Subtotal</div>
    <div>697.29 EGP</div>
  </div>
</div>

<div class="d-grid gap-5 ">
  <div class="d-flex justify-content-center">
  <button type="button" class="btn rounded-pill btn-lg w-50" style="background: linear-gradient(to right, #006400, #91ca2f); color: white; font-weight: 600;">Check out</button>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="../../assets/Abu Auf Alkafela Kamar Aldin.webp" class="img-fluid" alt="Image 1">
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      <h6 class="text mt-5 pt-5">Abu Auf Alkafela Kamar Aldin</h6>
      <p> 34.95 EGP </p>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">-</button>
              <button type="button" class="btn btn-light rounded-pill text-body" style="font-weight: bold;">1</button>
              <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">+</button>
  </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="../../assets/Farmers Standard Sliced Pineapple in Light Syrup.webp" class="img-fluid" alt="Image 1">
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <h6 class="text mt-5 pt-5">Farmer Standard Sliced Pineapple in Light Syrup</h6>
        <p> 34.95 EGP </p>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">-</button>
                <button type="button" class="btn btn-light rounded-pill text-body" style="font-weight: bold;">1</button>
                <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">+</button>
    </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <img src="../../assets/112573.webp" class="img-fluid" alt="Image 1">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          <h6 class="text mt-5 pt-5">Halwani Smoked Roast Turkey, by weight</h6>
          <p> 34.95 EGP </p>
          <div class="container">
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">-</button>
                  <button type="button" class="btn btn-light rounded-pill text-body" style="font-weight: bold;">1</button>
                  <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">+</button>
      </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="../../assets/112573.webp" class="img-fluid" alt="Image 1">
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h6 class="text mt-5 pt-5">Halwani Smoked Roast Turkey, by weight</h6>
            <p> 34.95 EGP </p>
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="input-group">
                    <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">-</button>
                    <button type="button" class="btn btn-light rounded-pill text-body" style="font-weight: bold;">1</button>
                    <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">+</button>
        </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="d-flex justify-content-between">
              <div>Subtotal</div>
              <div>697.29 EGP</div>
            </div>
          </div>
          <div class="container">
            <div class="d-flex justify-content-between">
              <div>Tax</div>
              <div>Included</div>
            </div>
          </div>
          <div class="container">
            <div class="d-flex justify-content-between">
              <h2> Order Total </h2>
              <h2>697.29 EGP</h2>
            </div>
          </div>
</div>

