<div class="container py-5" style="height: 1030px;">
  <div class="row p-2">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 my-3 p-3 mt-5 position-relative">
      <img src="../../assets/112573.webp" alt="Image 1" class="img-fluid">
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      <h3 class="text mb-3 mt-5 " style="color: rgb(36, 159, 36);">Halwani Smoked Roast Turkey, by weight</h3>
      <u class="fw-bold">Cold Cuts</u>
      <br>
      <h4 class="p-2">EGP 202.46</h4>
      <div class="dropdown">
        <h5>Grocery Wight</h5>
        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">
          250 gm
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">750 gm</a></li>
        </ul>
      </div>
      <br>
      <h6>Quantity</h6>
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">-</button>
              <button type="button" class="btn btn-light rounded-pill text-body" style="font-weight: bold;">1</button>
              <button type="button" class="btn btn-outline-success rounded-pill text-body" style="font-weight: bold;">+</button>
              <button type="button" class="btn rounded-pill ms-2" style="background: linear-gradient(to right, #006400, #91ca2f); color: white;">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div>
        <p><i class="far fa-clock"></i><strong> Deliverd withen:</strong>  the Same <B>Day</B> </p>
      </div>
      <p>Sold and delivered by Spinneys</p>
</div>
